body {
 width: 100%;
 height: 100%;
 background-color:#E5C4F1;
}

#send{
 background-image: url(../images/deliver4.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

h1{
 text-align:center;
 font-family:cambria;
 font-size:55px;
 color:#E15C14;
}

.flex-container,.well1{
 display:flex;
 flex-direction: column;
 font-family:cambria;
 font-weight:bold;
 font-size:16px; 
 width:30%;
 margin-left:33%;
 margin-top: 10px;
  
}

.flex-container button{
 border-radius:10px;
 border:1px solid mediumseagreen;
 padding-top:5px;
 padding-bottom:5px;
 background-color:rgb(250, 150, 0);
 font-size:16px;
 margin-top:2%;
 width:180px;
 transition: 0.3s;
 font-family: cambria;
  
}
.flex-container button:hover {
 opacity: 1;
 background-color:palegreen;
}

.flex-container a{
 text-decoration: none;
 font-family:cambria;
 padding:2px;
 color:red;
 font-weight:bold;
  
 }
 
 .foot{
  font-family:cambria;
  padding-left:16px;
  padding-top:40px;
  font-size:13px;
 }

 input{
  margin-top:5px;
  padding:10px;
  margin-bottom:5px;
  border-radius:12px;
  border:1px solid peru;
  
 }

 .log{
  font-family:cambria;
  font-weight:bold;
  font-size:16px;
  width:30%;
 margin-left:33%;
 margin-top: 10px;
 text-align:center;
 }

 .well1 input{
  border:1px solid purple;
 }

 .well1 button{
 border-radius:10px;
 border:1px solid rgb(91, 102, 96);
 padding-top:5px;
 padding-bottom:5px;
 background-color:rgb(90, 147, 170);
 font-size:16px;
 margin-top:2%;
 width:180px;
 transition: 0.3s;
 font-family: cambria;

 }
 .well1 button:hover {
  opacity: 1;
  background-color:plum;
 }

 .well1 a{
 text-decoration: none;
 font-family:cambria;
 padding:3px;
 color:red;
 font-weight:bold;
 } 
 
 #sign{
  background-image: url(../images/brass.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 }

 .well{
  font-family:cambria;
  font-size:20px;
  margin-top:-8px;
  text-align:center;
 }

 .feet{
  font-family:cambria;
  padding-left:15px;
  padding-top:150px;
  font-size:13px;

 }
#home{
 background-image: url(../images/box.png);
 background-repeat: no-repeat;
 background-size: cover;
}
.pen h1{
color:rgb(23, 31, 143);
text-align:center;
}

.pen1{
 font-family:georgia;
 font-size:20px;
 font-weight:bold;
 margin-left:26%;
 
}

.fib{
 font-family:Cambria;
 font-weight:bold;
 padding-left:15px;
 font-size:15px;
 padding-top:230px;
}

.page button{
 border:1px solid maroon;
 border-radius:24px;
 transition: 0.3s;
 background-color: aquamarine;
 padding:5px;
 font-family:cambria;
 font-weight:bold;
 font-size:16px;
  
}
.page button:hover {
 opacity: 1;
 background-color:rgb(81, 123, 212);
}

.page a{
text-decoration:none;
font-family:cambria;
font-weight:bold;
padding:5px;
font-size:16px;
color:black;
}

.page{
 font-family:cambria;
 font-size:20px;
 font-weight:bold;
 margin-left:37%;
 
}

#order1{
 background-color:#d9f1e0;
 background-image: url(../images/trolley.jpg);
 background-repeat: no-repeat;
 background-size: cover;

}

.order2 h1{
 color:black;
 padding-bottom:-1px;
 }

 .exit{
  float:right !important;
 }
 
 .menu ul{
  list-style-type: none;
  background-color:#dec6de;
  overflow:hidden;
  height:72px;
 }
 .menu ul li a{
  display:block;
  float:left;
  text-decoration:none;
  padding-right: 40px;
  padding-top: 28px;
  font-family:georgia;
  font-weight:bold;
  font-size:16px;
  color:black;

 }

 
 .file{
  padding-left:20px;
  padding-top:4%;
  float:left;
  font-family:cambria;
  font-weight:bold;
  font-size:13px;
 }

 .parcel1 button{
  background-color:coral;
  border:1px solid brown;
  padding:10px;
  font-family:georgia;
  font-weight:bold;
  font-size: 15px;
  padding-top:3px;
  margin-top:10px;
  

 }
 .parcel1{
  font-family:georgia;
  font-size:15px;
  font-weight:bold;
  margin-left:450px;
    
 }

 .parcel1 label{
  padding:5px;
  
 }
 #while{
  background-color:#7bd4e2;

 }

 .parcel{
  font-family:cambria;
  font-weight:bold;
  font-size:16px;
  padding-left:250px;
  float:left;
  
  
 }

 .pal{
  
  font-family:cambria;
  font-weight:bold;
  font-size:16px;
  float:right;
  padding-right:350px;
 }

 .file2{
  font-family:cambria;
  float:left;
  font-size:13px;
  font-weight:bold;
  padding-top:6%;
  margin-right:10%;
  padding-left:15px;

 }

 #eyes{
  background-color:peachpuff;
 }

 table{
  
   margin-right: 20px;
   color: black;
   border: 2px solid rgb(0, 41, 128);
   border-radius: 4px;
   padding: 20px;
   width:80%;
   font-family: Cambria;
   font-size:15px;
   background-color:wheat; 
   margin-left:80px; 
   margin-top:3%;
   border-collapse: collapse;
   border-right:1px solid black;
       
}

td,th{
 padding: 10px;
 font-family: Cambria;
 font-size:15px;
 border-bottom:1px solid black; 
 border-left:1px solid black;
 border-right: 1px solid black;
 text-align:left;
 
 }
 table button{
 font-size: 12px;
 padding: 10px 24px;
 font-family: cambria;
 border-radius: 4px;
 border: 2px solid royalblue;
 
}
.pen{
 font-family:cambria;
 font-size:13px;
 font-weight:bold;
 margin-top:200px;
 padding-left:5px;
}
#locate{
background-color: skyblue;
background-image: url(../images/truck.jpg);
 background-repeat: no-repeat;
 background-size: cover;

}

.pen2{
 font-family:cambria;
 font-size:13px;
 font-weight:bold;
 margin-top:250px;
 padding-left:5px;

}
#cancel{
background-image: url(../images/lorry3.jpg);
background-color: skyblue;
background-repeat: no-repeat;
background-size: cover;
 }

 #note{
  background-image: url(../images/bike.jpg);
  background-color: skyblue;
  background-repeat: no-repeat;
  background-size: cover;

 }
 .list,.list a{
   font-family:cambria;
   font-size:15px;
   font-weight:bold;
   padding-left:25px;
   color:darkblue;
 }
 .list a{
   text-decoration: none;
   color:darkblue;
   padding:2px;
     
 }
 .list2{
   font-family: cambria;
   font-size:16px;
   float:right;
   padding-right:240px;
   margin-top:-228px;
   
 }

 .check{
   background-color:palevioletred;
   padding:30px;
   border:1px solid brown;
 }

 .check2{
  font-family:cambria;
  padding-left:16px;
  padding-top:100px;
  font-size:13px;
  font-weight:bold;
  
 }
 

